<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Nunito" rel="stylesheet">
    
    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/moxieleague.css"}}" />
    {{!-- This tag outputs SEO meta+structured data and other important settings --}}

    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="moxieleague-site-footer outer">

          {{!-- Social media links --}}
          <div class="social-media-footer">
            <h4 class="social-media-header">STAY CONNECTED WITH MOXIE LEAGUE</h4>
            <div class="container">
              <div class="social-media-container">
                <div class="row">
                  <div class="col-3">
                    <img class="social-media-icon" src="https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/social-media-icons/social-icon-facebook.svg" />
                  </div>
                  <div class="col-3">
                    <img class="social-media-icon" src="https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/social-media-icons/iconmonstr-instagram-11.svg" />
                  </div>
                  <div class="col-3">
                    <img class="social-media-icon" src="https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/social-media-icons/social-icon-twitter.svg" />
                  </div>
                  <div class="col-3">
              <img class="social-media-icon" src="https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/social-media-icons/social-icon-pinterest.svg" />
                  </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="moxieleague-site-footer-content inner row">
            <div class="col-4"> 
              <img style="max-width:40%;" src="https://moxieleague.nyc3.digitaloceanspaces.com/blog-images/site-header-icon.svg" />
              <p>We're reimagining how women take care — through down-time and quality friend-time. Created by women for women.</p>
            </div>
            <div class="col-4">
              <h4>CONTACT</h4>
              <h4>TERMS</h4>
              <h4>PRIVACY POLICY</h4>
            </div>
            <div class="col-4">
              <h4>TEST TEST</h4>
            </div>
          </div><!-- row -->
        </footer>

    </div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @blog.logo}}
                <img class="subscribe-overlay-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">Subscribe to {{@blog.title}}</h1>
            <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}}

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    {{#if pagination.pages}}
    <script>
        // maxPages is a global variable that is needed to determine
        // if we need to load more pages for the infinitescroll, or if
        // we reached the last page already.
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "js/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
