{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="ml-site-header">
  {{> "post-site-nav"}}
</header>


<div class="hero-wrapper">
  <div class="blog-inner">
  <div class="main-feature">
    {{#get "posts" filter="featured:true" limit="1"}}
    {{#foreach posts}}
      <a href="{{url}}">
      <div class="main-feature-img">
        <img src={{feature_image}} class="hero1" />
      </div>
      </a>
      <a href="{{url}}">
      <div class="main-feature-text-container">
        <p class="post-card-tags">FEATURE</p>
        <h1 class="main-feature1">{{title}}</h1>
        <p class="main-feature1">{{excerpt}}</p>
        <a class="readmore-btn" href="#">READ MORE</a>
      </div><!-- main-feature-text-container -->
      </a>
    {{/foreach}}
    {{/get}}
  </div>
  

  <div class="hero-sidebar-container">
    {{#get "posts" include="tags" limit="2" filter="featured:false" page="1" as |posts|}}
    {{#foreach posts}}
    <div class="sidebar-article-container">
      <div class="sidebar-text">
        <a href="{{url}}"><h1 class="sidebar">{{title}}</h1></a>
      </div><!-- sidebar-text -->

      <a class="sdebar-post-card-image-link" href="{{url}}">
        <div class="sidebar-img">
          <img src="{{img_url feature_image}}" class="sidebar" />
        </div>
        </div><!-- sidebar-article-container -->
      </a>
    {{/foreach}}
    {{/get}}



    <div class="opt-in">
    </div>
    </div><!-- inner -->
  </div><!-- hero-sidebar-container -->
</div>
  




<div class="blog-inner">
  {{#get "posts" include="tags" limit="5" filter="featured:false" as |posts|}}
  {{#foreach posts from="3" to="5"}}
    <div class="row-article col-sm-4">
      {{> "moxieleague-post-card"}}
    </div>
  {{/foreach}}
  {{/get}}
</div>

<div class="blog-inner">
  {{#get "posts" include="tags" limit="8" filter="featured:false" as |posts|}}
  {{#foreach posts from="6" to="8"}}
    <div class="row-article col-sm-4">
      {{> "moxieleague-post-card"}}
    </div>
  {{/foreach}}
  {{/get}}
</div>


<div class="blog-inner">
  {{#get "posts" include="tags" limit="5" filter="featured:true" as |posts|}}
  {{#foreach posts from="2" to="4"}}
    <div class="row-article col-sm-4">
      {{> "moxieleague-post-card"}}
    </div>
  {{/foreach}}
  {{/get}}
</div>


